#event{
	height: 405px;
	width: 60%;
	border: 1px solid black;
	margin: 0 auto;
	background-color: #ffffff;
}
#eHeader ul{
	list-style: none;
	width: 70%;
	
}
#eHeader ul li{
	float: left;
	margin: ;
}
#eHeader img{
	
}
#eHeader div{
	
}